body {
  background-color: rgb(181, 190, 190);
  font-family: 'Aclonica';
  font-size: 14px;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #253a63;
}

#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
  padding: 0; 
}

#nav li {
  float: left; 
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
}

#nav li a:hover {
  background-color: rgb(101, 157, 241);}
  
img {
    padding: vertical;
    width: 45%;
}

h1 {
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

h4 {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
    background-color: darkslategray;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: rgb(206, 202, 202);
    border: 1px solid black;
}

td{
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}

td:first-child{
  background-color: darkcyan;
}

td:last-child{
  background-color: cadetblue;
}

td:hover {background-color: rgb(64, 107, 107);}

form {
  padding: 40px;
}










